<% layout("./layouts/boilerplate") %>
        <div class="wrapper">
            <div class="container">
                <div class="card card border-light ">
                    <div class="card-header">
                        <b> ID:</b>
                        <%= employee._id %>
                    </div>
                    <div class="card-body">
                        <h5 id="employeeName" class="card-title">
                            <%= employee.Name %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= employee.Profession %>
                        </h6>
                        <p class="card-text"> <b> Email:</b>
                            <%= employee.Email %> <br>
                             <b> Gender: </b>
                                <%= employee.Gender %> <br>
                                     <b>Education:  </b>
                                    <%= employee.Education %> <br>
                                     <b> Address:  </b>
                                        <%= employee.Address %> <br>
                        </p>
                        <a href="/employees/<%= employee._id %>/edit " class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                          </svg> Edit Info</a>
                    </div>
                </div>
            </div>
        </div>